addons:
  apt:
    sources:
      - chef-current-xenial
    packages:
      - chef-workstation

install: echo "skip bundle install"

env:
  - CHEF_LICENSE=accept

branches:
  only:
    - master

services: docker

env:
  matrix:
  - INSTANCE=package-ubuntu-1604
  - INSTANCE=package-ubuntu-1804
  - INSTANCE=package-centos-6
  - INSTANCE=package-centos-7
  - INSTANCE=service-ubuntu-1604
  - INSTANCE=service-ubuntu-1804
  - INSTANCE=service-centos-6
  - INSTANCE=service-centos-7
  - INSTANCE=service-auth-ubuntu-1604
  - INSTANCE=service-auth-ubuntu-1804
  - INSTANCE=service-auth-centos-6
  - INSTANCE=service-auth-centos-7
  - INSTANCE=sup-ubuntu-1604
  - INSTANCE=sup-ubuntu-1804
  - INSTANCE=sup-centos-6
  - INSTANCE=sup-centos-7
  - INSTANCE=config-ubuntu-1604
  - INSTANCE=config-ubuntu-1804
  - INSTANCE=config-centos-6
  - INSTANCE=config-centos-7
  - INSTANCE=config-auth-ubuntu-1604
  - INSTANCE=config-auth-ubuntu-1804
  - INSTANCE=config-auth-centos-6
  - INSTANCE=config-auth-centos-7
  - INSTANCE=user-toml-ubuntu-1604
  - INSTANCE=user-toml-ubuntu-1804
  - INSTANCE=user-toml-centos-6
  - INSTANCE=user-toml-centos-7
  - INSTANCE=license-centos-7

before_script:
  - sudo iptables -L DOCKER || ( echo "DOCKER iptables chain missing" ; sudo iptables -N DOCKER )
  - eval "$(chef shell-init bash)"
  - chef gem install toml
  - chef --version

script: KITCHEN_LOCAL_YAML=kitchen.dokken.yml CHEF_VERSION=${CHEF_VERSION} kitchen verify ${INSTANCE}

matrix:
  include:
    - script:
      - delivery local all
      env:
        - UNIT_AND_LINT=1
        - CHEF_LICENSE=accept
