---
  name: ci

  on:
    pull_request:
    push:
      branches:
        - master

  jobs:
    delivery:
      runs-on: ubuntu-latest
      steps:
        - name: Check out code
          uses: actions/checkout@master
        - name: Run Chef Delivery
          uses: actionshub/chef-delivery@master
          env:
            CHEF_LICENSE: accept-no-persist

    dokken:
      needs: [delivery]
      runs-on: ubuntu-latest
      strategy:
        matrix:
          os:
            - 'amazonlinux'
            - 'amazonlinux-2'
            # - 'debian-8'
            - 'debian-9'
            - 'debian-10'
            - 'centos-6'
            - 'centos-7'
            - 'centos-8'
            - 'oraclelinux-6'
            - 'oraclelinux-7'
            - 'oraclelinux-8'
            - 'fedora-latest'
            - 'ubuntu-1604'
            - 'ubuntu-1804'
            - 'opensuse-leap-15'

          suite:
            - 'package'
            - 'service'
            - 'service-auth'
            - 'sup'
            - 'config'
            - 'config-auth'
            - 'user-toml'
            - 'license'
            - 'config-chef-13'
            - 'config-chef-13-auth'
        fail-fast: false

      steps:
        - name: Check out code
          uses: actions/checkout@master
        - name: Install Chef
          uses: actionshub/chef-install@master
        - name: Dokken
          uses: actionshub/kitchen-dokken@master
          env:
            CHEF_LICENSE: accept-no-persist
            KITCHEN_LOCAL_YAML: kitchen.dokken.yml
          with:
            suite: ${{ matrix.suite }}
            os: ${{ matrix.os }}

    # windows:
    #   needs: [delivery]
    #   runs-on: windows-2019
    #   strategy:
    #     matrix:
    #       os:
    #         - 'windows-2019'
    #       suite:
    #         - 'example'
    #     fail-fast: false

    #   steps:
    #     - name: Check out code
    #       uses: actions/checkout@master
    #       This does not currently support windows and will need support added
    #     - name: Install Chef
    #       uses: actionshub/chef-install@master
    #     - name: Kitchen
    #       uses: actionshub/kitchen-dokken@master
    #       env:
    #         CHEF_LICENSE: accept-no-persist
    #         KITCHEN_LOCAL_YAML: kitchen.windows.yml
    #       with:
    #         suite: ${{ matrix.suite }}
    #         os: ${{ matrix.os }}

